body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page{
  max-width: 600px;
  margin: 50px auto;
  background-color: beige ;
  padding-bottom: 10px;
}
.content{
  margin: 40px;
  
}
.question_stat{
  display: inline-block;
  
}
.question{
  margin-top: 30px;
}
h4{
  display: flex;
  justify-content: center;
}
.btns{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;

}
.btns button{
  width: 35%;
  margin: 15px;
}
.btns button:nth-child(odd){
  order: 1;
}
.answer_btn{
  background-color: green;
  color: black;
}

.nextbtn{
  display: flex;
  justify-content: center;
  height: 40px;
}
.scores{
  display: flex;
  justify-content: space-between;
}

